---
//Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//use this to put small tips, tricks, or other notes in your page!
.aside-box {
  border-left: 2px solid $text-color;
  background-color: $background-color;
  opacity: 70%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  filter: drop-shadow(rgb(0 0 0 / 25%) 4px 4px 10px);
}

.aside-box h2 {
  //padding: 0;
  margin: 0;
}

.aside-box p {
  //padding: 0;
  margin: 0;
}

/* Reset sidebar author avatar to default Minimal Mistakes style */
.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

  img {
    max-width: 200px;
    width: auto;      /* keeps aspect ratio */
    height: auto;     /* keeps aspect ratio */
    border-radius: 0%; /* square avatar; change to 50% for circle */
  }
}
